.phone-panel {
  font-weight: 700;
}

.phone-panel__text {
  display: block;
}

.phone-panel__number {
  font-size: rem(24);
  color: currentColor;
  &:hover,
  &:focus {
    color: currentColor;
  }
}

.main-panel--footer {
  .phone-panel__number {
    color: #fff;
  }
  .phone-panel__number-prefix {
    color: $accent-color;
  }
}

@media (min-width: $media-tablet) {
  .phone-panel {
    text-align: right;
  }
}
